

<mat-toolbar>
  <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>

    
  </button>
  <div>
 <span>Configuración y Administración </span>

  </div>
  <span class="example-spacer"></span>
 
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>login</mat-icon> 
  </button>

  
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" opened="false">
    <mat-nav-list>
      <a mat-list-item routerLink="/roles" (click)="sidenav.close()">Crear Rol</a>
     
      <a mat-list-item routerLink="/crear-colaborador" (click)="sidenav.close()">Crear Colaborador</a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-crear-colaborador></app-crear-colaborador>
     <app-roles></app-roles>
  </mat-sidenav-content>
  </mat-sidenav-container>