.example-spacer {
    flex: 1 1 auto;
    background-color: #07386b;
  }
  .logo img {

    width: 100px; /* Ajusta según tu necesidad */
    height: auto; /* Mantén la proporción de la imagen */
    margin: 20px;
}

.toolbar-logo {
  height: 40px; /* Ajusta el tamaño del logo en la toolbar */
}
.background-container {
  height: 400px; /* Puedes ajustar la altura según lo que necesites */
  display: flex;
  justify-content: center;
  align-items: center;
  /*background: url('assets/background-image.jpg') no-repeat center center; /* Aquí puedes poner una imagen de fondo */
  background-size: cover;
}
.center-logo {
  width: 200px; /* Ajusta el tamaño del logo centrado */
}
  .footer {
    background-color: #07386b;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}