

<!-- Fondo con logo centrado -->
<div class="background-container">
  <div class="content-wrapper">
  <img src="assets/1.png" alt="Logo centrado" class="center-logo">

    <button class="login-button" routerLink="/autenticacion/login">
      Iniciar sesión
    </button>
</div>
</div>


  <!--<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" opened="false">
      <mat-nav-list>
        <a mat-list-item routerLink="/info-cdc" (click)="sidenav.close()">Que es el cdc</a>

        <a mat-list-item routerLink="/escenario" (click)="sidenav.close()">Problemas Identificados</a>

      </mat-nav-list>


    </mat-sidenav>
    </mat-sidenav-content>-->



      <router-outlet></router-outlet>

      <div class="footer">
        <div class="footer-content">
          <img src="assets/USBG_CDC.png" alt="Logo USBG" class="footer-logo">
          <p>&copy; 2025 Centro de Desarrollo Comunitario San Francisco de Asís. Todos los derechos reservados.</p>
        </div>
      </div>
