<div class="form-group">
    <label for="username">Nombre:</label>
    <input type="text" id="username" placeholder="Ingrese el nombre">

    <label for="correo">Correo Instituccional:</label>
    <input type="text" id="correo" placeholder="example@usbcali.edu.co">


    <label for="colCreador">Colaborador creador</label>
    <input type="text" id="nombre" placeholder="nombre">

    <label for="colModificador">Colaborador modificador</label>
    <input type="text" id="nombre" placeholder="nombre">

    <label for="role">Rol:</label>
    <select id="role">
        <option value="admin">Administrador</option>
        <option value="lider">lider programa</option>

    </select>
</div>
<div class="form-group">
    <button id="add-user">Añadir Colaborador</button>
</div>