<mat-card appearance="outlined">
    <mat-card-content>
        
        <h5> Problemas Identificados</h5>

        Uno de los desafios actuales en el centro de desarrollo comunitario San Francisco de Asís es la planificacion, ejecución y seguimiento de los programas se realiza manualmente o mediante herramientas dispersas. ​

        <ul>
            <li>
                La información sobre la población objetivo, recursos disponibles y resultados obtenidos no esta centralizada ni fácilmente accesible
            </li>
            <li>
                Difilcutad para acceder a los programas ejecutados
            </li>
            <li>
                Dificultad para consultar la información poblacional y caracterización
            </li>
        </ul>
    </mat-card-content>
    </mat-card>