<div class="container">

    <h2>Registro de Programas Propuestos</h2>
<form>
    <table class="table table-bordered">

        <tbody>

            <tr> 

                <td> <label> fiel.label</label></td>

                <td>
                    <input type="text" class="form-control" placeholder="field.placeholder"
                    />
                    
                </td>
   
            </tr>
              <tr>
                <td> <label> fiel.label</label></td>
                <td>
                 <textarea
                 class="form-control" placeholder="fiel.placeholder"
                 ></textarea>
                </td>
                </tr>
        </tbody>
  </table>
</form>

</div>