
<!--<div>mostrar mensaje al usuario "estas logueadocomo"+nombre de usuario
   <span>titulo módulo. Ej:configur y admin usuario </span>

    </div>-->
    <mat-toolbar color="primary">
      <span class="toolbar-title">Panel de Administración</span>
      <span class="example-spacer"></span>
      <span>Rol: {{ userRole }}</span>
      <button mat-icon-button aria-label="Cerrar sesión" (click)="cerrarSesion()">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>


      <!-- Columna izquierda -->
     <!-- se quito la matriz de registrar necesidades para  dejarlo como botón-->

      <!-- Columna derecha -->
      <mat-card class="dashboard-card" *ngIf="userRole === 'DIRECTORA '">
        <mat-card-header>
          <mat-card-title>¿Que deseas hacer hoy? </mat-card-title>
          <mat-card-title> Ingresa a la opción  conveniente</mat-card-title>
        </mat-card-header>

        <div class="dashboard-buttons">
          <button mat-raised-button color="primary" [routerLink]="['/iniciacion/registrar-necesidades']">
            <mat-icon>post_add</mat-icon>
            <span>Registrar necesidades</span>
          </button>


          <button mat-raised-button color="primary" [routerLink]="['/ejecuccion/formulario-registro']">
            <mat-icon>post_add</mat-icon>
            <span>Crear un formulario para registrar inscripción de participantes a un programa</span>
          </button>

          <button mat-raised-button color="accent" [routerLink]="['/iniciacion/ver-necesidades']">
            <mat-icon>visibility</mat-icon>
            <span>Ver necesidades registradas</span>
          </button>

          <button mat-raised-button color="warn" [routerLink]="['/formulacion/ver-programas-activos']">
            <mat-icon>fact_check</mat-icon>
            <span>Ver programas activos</span>
          </button>
        </div>
      </mat-card>

      <mat-card class="dashboard-card" *ngIf="userRole === ' LIDER DE PROYETOS '">
        <mat-card-header>
          <mat-card-title>Programas Activos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-programas-activos></app-programas-activos>
        </mat-card-content>


      </mat-card>



      <mat-card class="dashboard-card" *ngIf="userRole === 'SUPERUSER'">
        <mat-card-header>
          <mat-card-title>Gestión de Colaboradores</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-gestionar-colaboradores></app-gestionar-colaboradores>
        </mat-card-content>
      </mat-card>



    <mat-card class="dashboard-card" *ngIf="userRole === 'DIRECTORA '">
      <mat-card-header>
        <mat-card-title>Programas en Espera</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-visualizar-pogramas-en-espera></app-visualizar-pogramas-en-espera>
      </mat-card-content>
    </mat-card>

