<mat-toolbar>
    <button mat-icon-button class="example-icon" (click)="sidenav.toggle()"aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
  
      
    </button>
    <div>
   <span>titulo módulo. Ej:configur y admin usuario </span>
  
    </div>
    <span class="example-spacer"></span>
   
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" (click)="cerrarSesion()">
      <mat-icon>exit_to_app</mat-icon> 
    </button>
  
    
  </mat-toolbar>
<app-crear-nuevo-programa></app-crear-nuevo-programa>
<app-form-registro-usuarios></app-form-registro-usuarios>


