<h1>
  Registrate
</h1>

<mat-divider class="mb-2"></mat-divider>

<form class="grid" [formGroup]="colaboradorForm" >

  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>

        <div class="grid">

          <mat-form-field class="col-12">
            <mat-label>Tipo Documento</mat-label>
            <mat-select 
              formControlName="tipoIdentificacion"
            >
              <mat-option *ngFor="let tIdentificacion of tipoIdentificaciones"
                [value]="tIdentificacion.idIdentificacion">
                {{ tIdentificacion.nombreIdentificacion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Numero Documento</mat-label>
            <input
              matInput
              type="text"
              formControlName="numeroIdentificacion"
            />
            <mat-hint *ngIf="isValidField('numeroIdentificacion')" class="text-danger form-text uppercase text-start">
              {{getFieldError('numeroIdentificacion')}}
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              formControlName="nombreColaborador"
            />
            <mat-hint *ngIf="isValidField('nombreColaborador')" class="text-danger form-text uppercase text-start">
              {{getFieldError('nombreColaborador')}}
            </mat-hint>
          </mat-form-field>


          <mat-form-field class="col-12">
            <mat-label>Nombre Usuario</mat-label>
            <input
              matInput
              type="text"
              formControlName="nombreUsuario"
            />
            <mat-hint *ngIf="isValidField('nombreUsuario')" class="text-danger form-text uppercase text-start">
              {{getFieldError('nombreUsuario')}}
            </mat-hint>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Contrasena</mat-label>
            <input
              matInput
              type="password"
              formControlName="contrasena"
            />
          </mat-form-field>
          

          <mat-form-field class="col-12">
            <mat-label>Rol</mat-label>
            <mat-select 
              formControlName="rol"
            >
              <mat-option *ngFor="let r of roles"
                [value]="r.idRol">
                {{ r.nombreRol }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>

        <div class="flex justify-content-between">
          <button
            mat-flat-button
            color="warn"
          >
            Borrar
          </button>

          <button
            mat-flat-button
            color="primary"
            (click)="onSubmit()"
          >
            <mat-icon>save</mat-icon>
            Guardar
          </button>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">

    <mat-card>
      <img src="" alt="imagen del héroe" mat-card-image>
    </mat-card>

  </div>
</form>

<!-- <pre>
  {{ currentColaborador.nombreColaborador| json}}
</pre> -->





