<div class="container">
    <h1>Interfaz de Colaborador</h1>
    
    <!--<div *ngIf="program">-->
        <div>
      <h2> program.name</h2>
      <p><strong>Descripción:</strong>  program.description </p>
      <p><strong>Fecha de Inicio:</strong> program.startDate | date </p>
      <p><strong>Fecha de Finalización:</strong> program.endDate | date </p>
      <p><strong>Presupuesto:</strong>  program.budget | currency </p>
      <p><strong>Colaborador Responsable:</strong>  program.collaborator.name </p>
    </div>
  
   <!-- <div *ngIf="error" class="alert alert-danger">-->
      <div>
    error 
    </div>
  </div>
  