<mat-card appearance="outlined">
    <mat-card-content>
        
        <h5> ¿Qué es el CDC San Francisco de Asís?</h5>

        El Centro de Desarrollo Comunitario San Francisco de Asís (CDC) de la Universidad de San Buenaventura Cali se alza como un faro de transformación social en el corazón del barrio Siloé. Desde su fundación en 1977, ha impactado positivamente la vida de más de 8.000 personas anualmente, tejiendo un camino hacia el bienestar integral de la comunidad.
        El CDC se destaca por su enfoque innovador en el desarrollo de programas y proyectos comunitarios. Con un valor pedagógico agregado, facilita la integración de instituciones oficiales y privadas, tejiendo redes de colaboración para el bien común.
    
    </mat-card-content>
<div class="container">
    <div class="items">
      
    <div mat-card-avatar class="example-header-image"></div>
   
    <p>
        Compormiso de Región
      </p>

    </div>

    <div class="items">
      
        <div mat-card-avatar class="example-header-image"></div>
      
        <p>
            Más que un centro, una comunidad
          </p>

        </div>

        <div class="items">
      
            <div mat-card-avatar class="example-header-image"></div>
           
            <p>
                Un legado de transformación
              </p>
        
            </div>
        </div>
  </mat-card>