/* Contenedor de los botones */
.botones-container {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  gap: 20px; /* Espaciado entre los botones */
  margin-top: 20px; /* Espaciado superior para separar de otros elementos */
}

  .registro-button {
    background-color: #F98125;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  /* Hover sobre el botón */
.registro-button:hover {
  background-color:   #193A6F
  ; /* Color de fondo al pasar el mouse */
}

/* Botón activo (opcional) */
.registro-button:active {
  background-color:   #193A6F
  ; /* Color al hacer clic */
}